/*General*/
* {
    margin: 0;
    padding: 0;
  }

@mixin container-index {
  width: 100vw;
  justify-content: stretch;
  align-items: center;
  display: grid;
  grid-template-rows: 25% 25% 35% 10%;
}


// /////////////////////////////////////////// animacion cargando


.Logo-animation{
  position: fixed;
  top: 100px;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2B0245;
  
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, #FFBE33, #fff);
  margin: 10px;
  animation: wave 1s linear 2s;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.center{
  position: fixed;
  z-index: 1;
  width: 100%;
  animation-name: center;
  animation-duration: 2000ms;
  animation-fill-mode: forwards;
}

@keyframes center{
  0%{
    opacity: 1;
  }
  80%{
    opacity: 1;
    transform: rotateX(0deg);
  }
  100%{
    opacity: 0;
    visibility: hidden
  }
}

// /////////////////////////////////////////// animacion cargando

$primary-color:#FFBE33;
$secundary-color:#2B0245;

$Texts:(
  Titles: 400% Bold white,
  Text: white,
  Sub-title: 150% center,
);


  body {
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .body-pages {
    padding-bottom: 5%;
  }
  
  
    $Titles: map-get($Texts, Titles);

    .Titles{
      Font:$Titles
    }

    $Sub-Titles: map-get($Texts, Sub-title);

    .Sub-Titles {
      font: $Sub-Titles;
    }

    .Text-center {
      text-align: center;
    }

    .Text {
      color: white;
    }

    .Title-inicio{
      margin-bottom: 30px;
      @extend .Text-center;
      color: $primary-color;
    }

    .bg-title{
      display: flex;
      justify-content: center;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom: $primary-color 4px solid;
      border-right: $primary-color 4px solid;
      border-left: $primary-color 4px solid;
      background-color: $secundary-color;
    }

  .layer-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  
  .video-bg {
    z-index: -3;
    position: fixed;
    height: 100%;
    filter: blur(2px);
    opacity: 0.3;
  }
  
  .img-bg {
    z-index: -3;
    position: fixed;
    background-image: url(Image/background/background.jpg);
    width: 100vw;
    image-resolution: auto;
    filter: blur(2px);
    opacity: 0.3;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    border-bottom: $primary-color 4px solid;
    background-color: $secundary-color;
    text-align: center;
  }
  
  .nav-link {
    color: $primary-color;
    font: bold;
  }
  
  .Logo-pages {
    border-radius: 50%;
    width: 100px;
  }
  
  .P {
    text-align: justify;
  }
  
  .carousel {
    display: flex;
    margin: 5% 0 2% 0;
    justify-content: center;
    border-top: $primary-color 2px solid;
    border-bottom: $primary-color 2px solid;
  }

  .carousel-control-prev, .carousel-control-next{
    z-index: 0;
  }
  
  section {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
  }
  
  .Footer {
    position: fixed;
    background-color: black;
    border-top: $primary-color 4px solid;
    opacity: 0.9;
    bottom: 0;
    left: 0;
    right: 0;
  }
  

  .Footer-pages {
    padding: 3%;
  }
  
  /*Index*/
  .body-index {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    grid-template-rows: 1fr 2fr;
    background-color: transparent;

    .header-index {
        margin-top: 5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .Logo {
            border-radius: 50%;
            border: $primary-color 4px solid;
          }
      }
  }

  
  .container {
    @include container-index;
  }
  
  .Title-index, .Slogan-index, .Nav-index, .Footer {
    text-align: center;
  }
  
  .Text-index {
    font: bold 300%;
  }
  
  .Nav-index Nav ul li {
    list-style-type: none;
    margin: 1%;
  }

  .Nav-index{
    .Boton1-index {
        padding: 1% 5% 1% 5%;
      }
      
      .Boton2-index {
        padding: 1% 6% 1% 6%;
      }
      
      .Boton3-index {
        padding: 1% 7% 1% 7%;
      }

      .Boton-index {
        border-radius: 15%;
        background-color: transparent;
        border: solid 4px $primary-color;
        font: bold;
        color: white;
    
        &:hover{
            border: solid 4px $secundary-color;
            color: $secundary-color;
            background-color: rgba(128, 128, 128, 0.356);
        }

          }
  }
  

  
  .acerca-de-nosotros-index {
    text-decoration: none;
    color: $primary-color;
  }
  
  /*Horarios*/
  .Table {
    border: $primary-color 1px solid;
    justify-content: center;
  }
  
  .Title-Horarios {
    text-align: center;
    @extend .Text;
  }
  
  .button {
    display: flex;
    justify-content: center;
    @extend .Text;

  }
  
  .btn {
    align-items: center;
  }

  .Btn-section{
    display: flex;
    justify-content: space-between;
    row-gap: 5px;
    margin-top: 20px;
  }
  
  .Button-color {
    background-color: $secundary-color;
  }
  
  .Button-color:hover {
    background-color: $primary-color;
  }
  
  /*ADN*/
  .map {
    display: flex;
    justify-content: center;
  }
  
  @media screen and (max-width: 374px) {
    .Cost {
      display: none;
    }
    .xs-Cost {
      display: flex;
      background-color: #212529;
      margin: 1%;
      text-align: center;
      border: $primary-color 2px solid;
      justify-content: center;
    }
  }
  @media screen and (min-width: 374px) {
    .xs-Cost {
      display: none;
    }
  }
  @media screen and (max-width: 1550px) {
    .img-bg {
      display: none;
    }
  }
  @media screen and (min-width: 1550px) {
    .video-bg {
      display: none;
    }
    .img-bg {
      display: block;
    }
  }